@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;900&display=swap');

:root.dark {
    --features: white;
    --background: black;
}

:root.light {
    --features: black;
    --background: white;
}

body {
    background-color: var(--background);
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    min-height: 100vh;
}

.player {
    color: var(--features);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &>* {
        margin: 0.4rem;
    }
}

#board {
    background-color: var(--features);
    border: 5px solid var(--features);
    display: grid;
    grid-template-rows: repeat(3, 10rem);
    grid-template-columns: repeat(3, 10rem);
    gap: 5px;

    &>.cell {
       background-color: var(--background);
       border: none;
       color: var(--features);
       font-family: inherit;
       font-size: 8rem;
       display: flex;
       justify-content: center;
       align-items: center;
    }
}

#theme {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    border: none;
    background-color: transparent;
    color: var(--features);
    font-family: inherit;
    font-weight: 900;
}

button:hover {
    cursor: pointer;
}