@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;900&display=swap');

:root.dark {
    --features: white;
    --background: black;
}

:root.light {
    --features: black;
    --background: white;
}

body {
    background-color: var(--background);
    color: var(--features);
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5%;
    min-height: 100vh;
}

.player {
    position: relative;
    color: var(--features);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player>* {
    margin: 0.4rem;
    text-underline-offset: 0.5rem;
}

.active-turn {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

#thinking{
    position: absolute;
    bottom: 5rem;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

#grid-container {
    aspect-ratio: 5 / 7;
    width: 30rem;
    display: grid;
    grid-template-rows: 5rem repeat(3, minmax(0, 10rem)) 5rem;
    grid-template-columns: repeat(3, minmax(0, 10rem));
    gap: 10px;
}

#grid-container>#message {
    text-align: center;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-container>#reset {
    font-size: 1.2rem;
    margin: 2.2rem 0.7rem 0.7rem;
    grid-row: 5 / 6;
    grid-column: 2 / 3;
}

#board {
    background-color: var(--features);
    border: 5px solid var(--features);
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-rows: repeat(3, minmax(0, 10rem));
    grid-template-columns: repeat(3, minmax(0, 10rem));
    gap: 5px;
    grid-row: 2 / 5;
    grid-column: 1 / -1;
}

#board>.cell {
    background-color: var(--background);
    font-size: clamp(1rem, 20vmin, 7rem);
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
 }

#theme {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: transparent;
    font-weight: 900;
}

button {
    background-color: transparent;
    border: none;
    color: inherit;
    font-family: inherit;
}

button:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}